@charset"utf-8";


@mixin logo {
    font-family: 'Bitter', serif;
    color: #ffffff;
}

@mixin section_title {
    h1{
        font-family: 'Poppins',serif;
        font-size: 2.5rem;
        letter-spacing: 0.002rem;
        font-weight: bold;
        margin-bottom: 23px;
        margin-top: 0px;
        padding-top: 130px;
        color: #2b2b2b;
    }
    .section_title_border{
        background-color: #2b2b2b;
        height: 1px;
        width: 35px;
        margin: 0 auto 58px;
    }
}

@mixin section_article{
    line-height: 2;
    letter-spacing: 0.08rem;
    font-size: 1rem;
    font-weight: 400;
}